@model ForgotPasswordEmailViewModel

<h4 class="display-4">Şifremi Unuttum</h4>

<div class="@(ViewBag.message==null?"":ViewBag.alert)">@ViewBag.message</div>


<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <div class="col-md-6">
            <label asp-for="@Model.Email" class="form-label"></label>
            <input class="form-control" asp-for="@Model.Email">
            <span asp-validation-for="@Model.Email" class="form-text text-danger"></span>
        </div>

    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Sıfırlama Mailini Gönder</button>
    </div>
</form>


@section Scripts
{
<script src="/modules/jquery-validation/dist/jquery.validate.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}