@model ForgotPasswordViewModel

<h4 class="display-4">Şifrenizi Sıfırlayın</h4>

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <input type="hidden" name="userId" value="@Model.userId">
    <input type="hidden" name="token" value="@Model.token">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" class="form-control">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="@Model.RePassword"></label>
            <input asp-for="@Model.RePassword" class="form-control">
            <span asp-validation-for="@Model.RePassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Sıfırla">
    </div>
    
</form>


@section Scripts{
<script src="/modules/jquery-validation/dist/jquery.validate.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}