@model GetTeamViewModel

@* <div class="row">
    <div class="card" style="width: 18rem;">
        <img src="/images/@Model.TeamImageUrl" class="card-img-top" width="" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Kurucusu <b>@Model.Founder</b></li>
            <li class="list-group-item">Kuruluş Yılı <b>@Model.FoundationYear.Year</b></li>
            <li class="list-group-item">Takım Kaptanı <b>@Model.TeamBoss</b></li>
        </ul>
    </div>
</div> *@
<h1 class="display-3">@Model.Name</h1>
<hr>

<div class="row">
    @foreach (var p in Model.Drivers)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/images/@p.DriverImageUrl" width="" alt="@p.DriverName">
                <div class="card-body">
                    <h5 class="card-title">@p.DriverName @p.DriverSurname <span
                        class="badge bg-secondary">@p.DriverNumber</span></h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><img width="50" src="/images/@p.Country.CountryImageUrl" alt="">
                        <b>@p.Country.CountryName</b>
                    </li>
                    <li class="list-group-item">Doğum Tarihi <b>@p.DateOfBirth.ToShortDateString()
                            (@(DateTime.Now.Year-p.DateOfBirth.Year) yaşında)</b></li>

                </ul>
                <div class="card-body">
                    @* <a href="/Pilot/#@p.DriverName@p.DriverSurname" class="card-link">Sürücü Bilgileri</a> *@
                </div>
            </div>
        </div>
    }
</div>